/* .Div-menu{
border:1px solid green;
padding:5px;
margin:5px;
} */

.Div-border {
  padding: 30px;
  border: black;
  border-style: inset;
}

button {
  font-size: 18px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  background: #263e7a;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}
button:hover {
  background: orange;
}

input {
  text-align: center;
  font-size: 15px;
  margin: 5px;
}

a {
  color: orange;
}

.Menu-div {
  /* background:rgb(255, 130, 0); */
  background: #263e7a;
  color: wheat;
  /* padding: 10px;
  margin-bottom: 0px; */
  padding: 41px;
}

.User-info {
  text-align: right;
  margin-bottom: -70px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Div-footer-text {
  text-align: center;
  padding-left: 113px;
  font-weight: 500;
}

.Div-footer {
  background: #dee3e5;
  padding: 10px;
}

img {
  height: 255px;
  padding: 80px; 
}

.Div-table {
  width: 80%;
}

.Div-left {
  float: left;
  width: 15%;
  padding: 15px;
}

.Div-right {
  float: right;
  width: 20%;
}

table {
  border-style: solid;
  border-spacing: 10px;
  border-color: black;
  border-width: 2px;
  margin-left: auto;
  margin-right: auto;
}

select {
  padding: 3px 17px 3px 17px;
  font-size: 15px;
  margin: 5px;
  min-width: 190px;
  min-height: 35px;
  text-align: center;
}

.Div-border {
  padding: 30px;
  border: black;
  border-style: inset;
}

button {
  font-size: 18px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  background: #263e7a;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

button:hover {
  background: orange;
}

input {
  text-align: center;
  font-size: 15px;
  margin: 5px;
  min-width: 225px;
  min-height: 30px;
  padding: 5px;
}

a {
  color: orange;
}

.Menu-div {
  /* background:rgb(255, 130, 0); */
  background: #263e7a;
  color: wheat;
  padding: 41px;
}

.User-info {
  text-align: right;
  margin-bottom: -70px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



